<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Biblioteca Egg</title>
  <link href="css/one-page-wonder.min.css" rel="stylesheet">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navBar">
    <div class="containerImg">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <img class="logo" th:src="@{/img/Egg.png}" alt="Img logo egg">
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse elementosNav" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto elementos">
        <!-- Dropdown 1 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="navbarDropdownLibros" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Libros
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownLibros">
            <li><a class="dropdown-item" th:href="@{/libro/registrar}">Crear Libro</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{/libro/lista}">Listar Libros</a></li>
          </ul>
        </li>

        <!-- Dropdown 2 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="navbarDropdownAutores" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Autores
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownAutores">
            <li><a class="dropdown-item" th:href="@{/autor/registrar}">Crear Autor</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{/autor/lista}">Listar Autores</a></li>
          </ul>
        </li>

        <!-- Dropdown 3 -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             id="navbarDropdownEditoriales" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Editoriales
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownEditoriales">
            <li><a class="dropdown-item" th:href="@{/editorial/registrar}">Crear Editorial</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" th:href="@{/editorial/lista}">Listar Editoriales</a></li>
          </ul>
        </li>

        <!-- Dropdown Perfil -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPerfil" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownPerfil">
            <li><a class="dropdown-item" th:href="@{/usuario/perfil}">Editar Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="login">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <header class="header">
    <section class="contenedorMain text-center">
      <div class="tituloBiblioteca text-center">
        <a class="navbar-brand">BIBLIOTECA</a>
      </div>
      <div class="container contenedorLibros text-center">
        <p class="tituloLibros" th:text="'Hola ' + ${userDetails}"></p>
      </div>
    </section>
  </header>


<!-- Footer -->
  <footer class="text-muted py-4">
    <div class="containerFooter text-center">
      <p>&copy; Biblioteca Egg - Todos los derechos reservados</p>
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>
